<% content_for :title do %>All Shifts<% end %>

<% @shifts.each do |date, shifts| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= date.strftime('%A, %B %e, %Y') %>
      </h3>
    </div>
    <ul class="list-group">
      <% shifts.each do |shift| %>
        <li class="list-group-item">
          <a href="<%= shift_path(shift) %>">
            <%= Time.parse(shift.start).strftime('%l:%M %P') %>
            -
            <%= Time.parse(shift.end).strftime('%l:%M %P') %>:
            <%= shift.location.split.map(&:capitalize).join(' ') %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>