<% content_for :title do %>Post a Shift<% end %>
<%= form_tag shifts_path + '/new', class: "form-horizontal" do %>
  <%= field_set_tag 'Basic Information' do %>
    <div class="form-group">
      <%= label_tag :date, "Date", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= text_field_tag :date, params['date'], class: "form-control", placeholder: "MM/DD/YYYY", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :period, "Period", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <label class="radio-inline">
          <% breakfast_checked = params['period'] == 'breakfast' ? true : false %>
          <%= radio_button_tag :period, 'breakfast', breakfast_checked %> Breakfast
        </label>
        <label class="radio-inline">
          <% lunch_checked = params['period'] == 'lunch' ? true : false %>
          <%= radio_button_tag :period, 'lunch', lunch_checked %> Lunch
        </label>
        <label class="radio-inline">
          <% afternoon_checked = params['period'] == 'afternoon' ? true : false %>
          <%= radio_button_tag :period, 'afternoon', afternoon_checked %> Afternoon
        </label>
        <label class="radio-inline">
          <% dinner_checked = params['period'] == 'dinner' ? true : false %>
          <%= radio_button_tag :period, 'dinner', dinner_checked %> Dinner
        </label>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :startTime, "Start Time", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= text_field_tag :start, params['start'], class: "form-control", placeholder: "HH:MM AM/PM", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :endTime, "End Time", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= text_field_tag :end, params['end'], class: "form-control", placeholder: "HH:MM AM/PM", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :location, "Location", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= text_field_tag :location, params['location'], class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :comment, "Comment", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= text_area_tag :comment, params['comment'], class: "form-control" %>
      </div>
    </div>
  <% end %>
  <%= field_set_tag 'Further Information', class: @further_info.nil? ? 'hide' : '' do %>
    <div class="alert alert-danger" role="alert"><%= @further_info %> If you want to post this shift, please make a choice.</div>
    <div class="form-group">
      <%= label_tag :further, "Make A Choice", class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <div class="radio">
          <label>
            <% post_checked = params['further'] == 'post' ? true : false %>
            <%= radio_button_tag :further, 'post', post_checked %>
            Just Post - I want to post this shift. <b>If nobody picks it, I will work for it.</b>
          </label>
        </div>
        <div class="radio">
          <label>
            <% permission_checked = params['further'] == 'permission' ? true : false %>
            <%= radio_button_tag :further, 'permission', permission_checked %>
            Request Permission - I have a special circumstance. I want to write down the reason in the "Comment" field above and let a manager approves it.
            <b>If the manager declined my request, I will work for it.</b>
          </label>
        </div>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <%= submit_tag "Next", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<input type="hidden" id="available-locations" value="<%= @available_locations %>">