<% content_for :title do %>Shift<% end %>

<div class = "page-header">
  <h3>
    Shift Detail
  </h3>
</div>

<p>Date: <%= @shift.date.strftime('%A, %B %e, %Y') %></p>
<p>Period: <%= @shift.period.capitalize %></p>
<p>
  Time:
  <%= Time.parse(@shift.start).strftime('%l:%M %P') %>
  -
  <%= Time.parse(@shift.end).strftime('%l:%M %P') %>
</p>
<p>Location: <%= @shift.location.split.map(&:capitalize).join(' ') %></p>
<p>Approved By: </p>