<% content_for :title do %>Shift<% end %>

<div class = "page-header">
  <h2>
    Shift Detail
  </h2>
</div>

<table class="table">
  <thead>
    <tr>
      <td>Date:</td>
      <td><%= @shift.date.strftime('%A, %B %e, %Y') %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Period:</td>
      <td><%= @shift.period.capitalize %></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td>
        <%= Time.parse(@shift.start).strftime('%l:%M %P') %>
        -
        <%= Time.parse(@shift.end).strftime('%l:%M %P') %>:
      </td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><%= @shift.location.split.map(&:capitalize).join(' ') %></td>
    </tr>
  </tbody>
</table>